*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: black;
    color: rgb(196, 113, 113);
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

