*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: black;
    color: rgb(155, 83, 83);
    font-size: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

